<div>
  <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
</div>

<label>Result:</label>
<pre><code id="result"></code></pre>

<%= javascript_pack_tag("qr_code_reader") %>